@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dosis:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url('/targets/img/navbar.png'); background-size: cover;
    margin: 20px;
    border-radius: 30px;
}
header nav ul{
    list-style-type: none;
    display: flex;

}
header nav ul li{
    margin: 3vh 2%;
    padding: 2vh;
}
header nav ul li a{
    text-decoration: none;
    font-size: 3vh;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: rgb(211, 211, 211);
}
header nav ul li a:hover{
    color: whitesmoke;
}
body{
    background-color: rgb(0, 29, 62);
    color: whitesmoke;
}
body main div p{
    font-family: "Zen Dots", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vh;
    padding-top: 30px;
    padding-bottom: 15px;
}
.intro h1{
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "MORF" 0;
    font-size: 20vh;
    background-color: #ec383b;
}
.intro h2{
    background-color: #ec383b;
    padding-right: 20px;
    padding-bottom: 30px;
    font-family: "Rubik", Tahoma, Geneva, Verdana, sans-serif;
}
body main div section{
    display: flex;
}
.txt-brk p{
    font-size: 40px;
}
.abv{
    display: flex;
    align-items: center;
    font-family: "Rubik", tahoma, serif;
    background-color: #ec383b;
    border-radius: 100px;
    margin: 5vh;
    padding: 0 3vh;
    font-size: 70px;
}
body main div section p{
    display: flex;
    align-items: center;
    font-family: "serif";
    margin: 5vh;
    padding: 0 23px;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}