@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dosis:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    overflow: hidden;
}
header:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
header nav ul{
    list-style-type: none;
    display: flex;
    padding: 15px;

}
header nav ul li{
    margin: 3vh 2%;
}
header nav ul li a{
    text-decoration: none;
    font-size: 3vh;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: rgb(165, 165, 165);
    transition: 1s;
}
header nav ul li a:hover{
    color: white;
    transition: 0s;
}
@media (max-width: 2300px) {
    header{
        background-color: rgba(0, 0, 0, 0.5);
    }
    header nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul li{
        padding: 15px 10px;
    }
}