@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dosis:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
section{
    display: flex;
}
.abv-text{
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 80px;
}
.content section p{
    display: flex;
    border-radius: 50px;
    align-items: center;
    font-family: "serif";
    margin: 5vh;
    padding: 0 23px;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    background-color: #ec383b;
    transform: transform 0.5c ease;
}
.content ul li{
    margin: 10vh;
    font-size: 30px;
    color: whitesmoke;
}
@media (max-width: 2300px) {
    .abv-text{
        font-size: 40px;
    }
}